// prism editor
.token.keyword {
  color: hsl(350, 5%, 50%);
}

.token.boolean {
  color: hsl(50 60% 65%);
}

.token.operator {
  color: inherit;
  opacity: .7;
}

.token.property {
  color: hsl(250, 25%, 66%);
}

.npm__react-simple-code-editor__textarea {
  padding-left: 30px !important;
}

.npm__react-simple-code-editor__textarea {
  padding-left: 30px !important;
}

.editorLineNumber {
  opacity: 0.5;
  display: inline-block;
  width: 20px;
  font-size: 11px;
}