$color-slate-original = #323940

$color-slate-a = #3F474F
$color-slate-b = #AFC6DB
$color-slate-c = #738290
$color-slate-d = #7C8D9C
$color-slate-e = #5E6A75

$color-blue-a = #738199
$color-blue-b = #434B59
$color-blue-c = #A1B5D8
$color-blue-d = #ACC1E6
$color-blue-e = #8FA1BF

$color-tan-a = #BFBDBA
$color-tan-b = #807E7C
$color-tan-c = #FFFCF7
$color-tan-d = #403F3E
$color-tan-e = #E6E3DF

$color-vine-a = #A8B099
$color-vine-b = #6B7062
$color-vine-c = #E4F0D0
$color-vine-d = #F0FCDC
$color-vine-e = #CCD6BA

$color-green-a = #8A9984
$color-green-b = #50594D
$color-green-c = #C2D8B9
$color-green-d = #CEE6C5
$color-green-e = #ACBFA4