<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Console Cowboy Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link href="/prismjs/prism-dark.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/main.css">

  <script>
    window.__STATE__ = JSON.parse(`{{{json __STATE__}}}`);
  </script>
</head>
<body class="consolecowboy-app">
<div style="display: none" id="statedump">{{{json __STATE__}}}</div>

<div id="consolecowboy-app"></div>

<script src="/vendor/react.development.js"></script>
<script src="/vendor/react-dom.development.js"></script>
<script src="/js/main.bundle.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Epilogue:300,400,500,600,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
</body>
</html>